<!-- <app-btn label="Test Button" (btnClick)="buttonClick($event)"></app-btn> -->
<div style="margin: auto; width: 800px">
  <div class="pointer">
    <div class="ball">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Location_dot_orange.svg/480px-Location_dot_orange.svg.png"
        alt=""
      />
    </div>
    <div class="stick">&nbsp;</div>
  </div>
  <!--  <div class="stick-2"></div> -->
</div>
<div class="stepper" style="width: 60vw; margin: auto">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>
          <h4>Login to PRO+</h4>
        </ng-template>
        <p>
          <b> Lets get you started:</b> We'll make you an expert in ordering
          materials on PRO+ in just a few minutes.
        </p>
        <div class="btn-group">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Search For Materials</ng-template>
        <p>
          You can search for materials from your local branch using the search
          bar. Once you find the items you need, you can add them to your cart
          or to your templates.
        </p>
        <div class="btn-group">
          <!--  <button mat-raised-button color="secondary" matStepperPrevious>
            Back
          </button> -->
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Access Order History</ng-template>
        <p>
          You can see items you ordered in the past and easily add them to your
          cart. You can also check the status of your deliveries.
        </p>
        <div class="btn-group">
          <!--  <button mat-raised-button color="secondary" matStepperPrevious>
            Back
          </button> -->
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Access Templates</ng-template>
      <p>
        Find the items you often purchase in a ready to order template. You'll
        save time and energy for your next order.
      </p>
      <p style="margin: auto; width: 400px"></p>
      <div class="btn-group">
        <!--  <button mat-raised-button color="secondary" matStepperPrevious>
          Back
        </button> -->

        <button mat-stroked-button color="" (click)="stepper.reset()">
          Reset
        </button>
        &nbsp;
        <button mat-raised-button color="accent">
          Go to Proplus now.
          <span
            ><img
              src="https://icon-library.com/images/shopping-car-icon/shopping-car-icon-19.jpg"
              alt=""
              width="17"
          /></span>
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
