.stepper {
  border: solid 2px orange;
  border-radius: 8px;
}

div.btn-group {
  padding-top: 30px;
  float: right;
}

p {
  padding: 15px;
  margin: 0px 15px;
  text-align: center;
}

/* div.mat-step-label.mat-step-label-active.mat-step-label-selected {
  h4 {
    font-size: 1.272rem;
  }
}
 */
:host::ng-deep {
  div.mat-step-icon {
    background-color: white;
    border: solid thin orange;
    color: white;
  }
  div.mat-step-icon-selected {
    background-color: orange;
  }
  div.mat-step-lable-active {
    font-weight: bold;
  }
}
.pointer {
  width: 100px;
  height: 100px;

  .ball {
    background-color: orange;
  }
  .stick {
    background-color: pink;
  }
}

#titles {
  padding: 30px;
  text-align: center;
  padding-bottom: 0;

  h2 {
    font-weight: bold;
    padding: 10px 0px;
    color: #3f51b5;
  }
}
